.user-profile {
    display: block;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding-top: 3rem;
    min-height: calc(100vh - 132px);
}

.profile-image {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.confirmBtn {
    margin: 0 0 0 10px;
}