.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
  min-height: calc(100vh - 132px);
}

.post-card {
  display: block;
  margin: 2rem auto;
  width: 80%;
}

.search {
  width: 80%;
  display: block;
  margin: 2rem auto;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}

.content {
  font-size: 17px;
}

.subtitle {
  margin: 5px 0 7px 16px;
}

.btn {
  margin: 15px 0 0 8px;
}

.divider {
  margin: 10px 0 10px;
}

.comment {
  margin: 5px 0 5px 16px;
}

.location {
  margin: 10px 0 10px;
}