<div *ngIf="isUserDataLoaded" class="user-profile">

    <h1>Profile</h1>
    <div style="padding-top: 2rem" class="row">
        <div class="col">
            <img class="profile-image"
                [src]="previewImgURL || formatImage(userProfileImg) || 'https://cdn.pixabay.com/photo/2018/11/13/22/01/avatar-3814081_960_720.png'"
                alt="user image">

            <input type="file" style="display: none" #fileInput (change)="onFileSelected($event)">
        </div>

        <div class="col" style="text-align: left">
            <h2>{{user.username}}</h2>
            <h3>Name: {{user.name}} {{user.lastname}}</h3>
            <p>Bio: {{user.bio}}</p>
        </div>

        <mat-divider style="margin: 2rem 0"></mat-divider>

        <div *ngIf="isUserPostsLoaded">
            <h2>{{posts.length}} Posts</h2>

            <mat-card class="post-card shadow" *ngFor="let post of posts; let i = index">
                <mat-card-header style="text-align: left">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle class="location">{{post.location}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image [src]="formatImage(post.image)" alt="post image">

                <mat-card-content>
                    <p class="content">{{post.caption}}</p>
                </mat-card-content>

                <mat-card-actions align="start">
                    <button class="btn" *ngIf="isUserDataLoaded" mat-stroked-button [matBadge]="post.likes" matBadgeColor="warn"
                      (click)="likePost(post.id!, i)"
                      [ngClass]="post.usersLiked?.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
                      <mat-icon>favorite</mat-icon> Like</button>
                  </mat-card-actions>

                <mat-divider class="divider"></mat-divider>

                <div style="text-align: left">
                    <mat-card-subtitle class="subtitle">Comment:</mat-card-subtitle>
                    <p class="comment" *ngFor="let comment of post.comments; let c = index"><span
                            style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
                </div>

                <mat-form-field class="w-100">
                    <mat-label>Leave a comment...</mat-label>
                    <input onblur="this.value=''" (keyup.enter)="postComment(($any($event.target).value), post.id!, i)" matInput
                      #message maxlength="128">
                    <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
                  </mat-form-field>

            </mat-card>
        </div>

    </div>
</div>