<mat-toolbar color="primary">
    <span routerLink="/main" style="cursor: pointer; margin-left: 20px;">SocialNetwork</span>
    <span class="spacer"></span>

    <button *ngIf="!isSignedIn" matTooltip="Sign in" routerLink="/signIn" mat-icon-button
        class="example-icon favorite-icon">
        <mat-icon>login</mat-icon>
    </button>

    <h3 class="username" *ngIf="isDataLoaded">{{this.user.name}} {{this.user.lastname}}</h3>

    <button mat-mini-fab color="warn" *ngIf="isSignedIn" [matMenuTriggerFor]="menu" matTooltip="Profile">

        <mat-icon>account_box</mat-icon>

    </button>

    <mat-menu id="menu-item" #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button (click)="signOut()" mat-menu-item>Sign out</button>
    </mat-menu>
</mat-toolbar>